<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <!-- bootstrap navbar -->    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Music Band Distributor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Index</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="orders.html">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ordered_products.html">Ordered_Products</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="products.html">Products<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="manufacturers.html">Manufacturers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="shippers.html">Shippers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="warehouses.html">Warehouses</a>
            </li>
          </ul>
        </div>
    </nav>
   
    <!-- table of data-->
    <div class="ml-5">
        <br />
        <h2>Products Table</h2>
        <table id="productsTable" class="table table-hover w-75">
            <thead>
                <th>product_id</th>
                <th>manufacturer_id</th>
                <th>product_name</th>
                <th>product_type</th>
                <th>product_cost</th>
                <th>product_description</th>
            </thead>
            <!-- sample table body, will be built though DOM and a GET / SELECT on page load -->
            <tbody id="productsEntries">
                <tr>
                    <th scope="row">1</th>
                    <td>2</td>
                    <td>Sick Air Unisex Tee</td>
                    <td>shirts</td>
                    <td>24.99</td>
                    <td>blue tee with coughing skater sizes S-3XL</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>1</td>
                    <td>Radtronic 1800z</td>
                    <td>skateboards</td>
                    <td>493.52</td>
                    <td>can't do ollies</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>3</td>
                    <td>Sensible Titanium Crutches</td>
                    <td>crutches</td>
                    <td>50,000.01</td>
                    <td>FSA eligible</td>
                </tr>
            </tbody>
        </table>
        
    <!--insert row-->
        <br />
        <h2>Insert</h2>
        
        <form>
            <div class="form-group row">
                <label class="col-auto col-form-label">manufacturer_id <input type="text" name="manufacturer_id" value="" /></label>
                <label class="col-auto col-form-label">product_name <input type="text" name="product_name" value="" /></label>
                <label for="productTypeSelect" class="col-auto col-form-label">product_type </label>
                    <select class="form-control w-25" id="productTypeSelect">
                        <option selected></option>
                        <option>skateboards</option>
                        <option>t-shirts</option>
                        <option>crutches</option>
                    </select>
                <label class="col-auto col-form-label">product_cost <input type="number" name="product_cost" value="" /></label>
                <label class="col-auto col-form-label">product_description <input type="text" name="product_description" value="" /></label>
                <input type="button" id="newRow" value="Insert Product" class="btn btn-primary"/>
            </div>
            <form id="insertProduct">
        </form>
        
        <!-- bootstrap javascript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </div>
</body>
</html>
