<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <!-- bootstrap navbar -->    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Music Band Distributor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Index</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="orders.html">Orders<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ordered_products.html">Ordered_Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="products.html">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="manufacturers.html">Manufacturers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="shippers.html">Shippers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="warehouses.html">Warehouses</a>
            </li>
          </ul>
        </div>
    </nav>
   
    <!-- table of data-->
    <div class="ml-5">
        <br />
        <h2>Orders Table</h2>
            <table id="ordersTable" class="table table-hover w-50">
                <thead>
                    <th>order_id</th>
                    <th>manufacturer_id</th>
                    <th>shipper_id</th>
                    <th>time_placed</th>
                    <th>status</th>
                    <th>warehouse_id</th>
                </thead>
                <tbody id="ordersEntries">
                    {% for val in order_data %}
                    <tr>
                        <td>{{val['order_id']}} </td>
                        <td>{{val['manufacturer_id']}} </td>
                        <td>{{val['shipper_id']}} </td>
                        <td>{{val['time_placed']}} </td>
                        <td>{{val['status']}} </td>
                        <td>{{val['warehouse_id']}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

    <!--insert row-->
        <br />
        <h2>Insert</h2>
        <form method = "post"> 
            <div class="form-group row">
                <label class="col-auto col-form-label">manufacturer_id </label>
                    <select class="form-control w-25" id="" name="manufacturer_id">
                        <option selected></option>
                        {% for val in order_mid_dropdown | sort(attribute='manufacturer_id') %}
                            <option>{{val['manufacturer_id']}}</option>
                        {% endfor %}
                    </select>
                <label class="col-auto col-form-label">shipper_id </label>
                    <select class="form-control w-25" id="" name="shipper_id">
                        <option selected></option>
                        {% for val in order_sid_dropdown | sort(attribute='shipper_id') %}
                            <option>{{val['shipper_id']}}</option>
                        {% endfor %}
                    </select>
                <label class="col-auto col-form-label">time_placed <input type="datetime-local"  id="time_placed" name="time_placed" value="" /></label>
            </div>
            <div class="form-group row">
                <label for="orderStatusSelect" class="col-auto col-form-label">status </label>
                    <select class="form-control w-25" id="orderStatusSelect" name="status">
                        <option selected></option>
                        <option>placed</option>
                        <option>confirmed-unpaid</option>
                        <option>confirmed-paid</option>
                        <option>fulfilled-unpaid</option>
                        <option>fulfilled-paid</option>
                    </select>
                <label class="col-auto col-form-label">warehouse_id </label>
                    <select class="form-control w-25" id="" name="warehouse_id">
                        <option selected></option>
                        {% for val in order_wid_dropdown | sort(attribute='warehouse_id') %}
                            <option>{{val['warehouse_id']}}</option>
                        {% endfor %}
                    </select>
                <input type="submit" id="newRow" name="insert_order_submit" value="Insert Order" class="btn btn-primary"/>
            </div>
            <form id="insertOrder">
        </form>

        <br />
        <h2>Update</h2>
        <form>
            <div class="form-group row">
                <label class="col-auto col-form-label">order_id</label>
                    <select class="form-control w-25" id="orderID">
                    {% for val in order_nums | sort(attribute='order_id') %}
                        <option>{{val['order_id']}}</option>
                    {% endfor %}
                    </select>
                <label class="col-auto col-form-label">manufacturer_id  <input type="text" id="manufacturer_id" name="manufacturer_id" value="" disabled/></label>
                <label class="col-auto col-form-label">shipper_id </label>
                    <select class="form-control w-25" id="" name="update_order_shipper_id">
                        <option selected></option>
                        {% for val in order_sid_dropdown | sort(attribute='shipper_id') %}
                            <option>{{val['shipper_id']}}</option>
                        {% endfor %}
                    </select>
            </div> 
            <div class="form-group row">
                    <label class="col-auto col-form-label">time_placed  <input type="datetime-local" name="time_placed" value="" disabled/></label>
                    <label for="orderStatusSelect" class="col-auto col-form-label">status</label>
                        <select class="form-control w-25" id="orderStatusSelect">
                            <option selected></option>
                            <option>placed</option>
                            <option>confirmed-unpaid</option>
                            <option>confirmed-paid</option>
                            <option>fulfilled-unpaid</option>
                            <option>fulfilled-paid</option>
                        </select>

                    <label class="col-auto col-form-label">warehouse_id </label>
                        <select class="form-control w-25" id="" name="update_order_warehouse_id">
                            <option selected></option>
                            {% for val in order_wid_dropdown | sort(attribute='warehouse_id') %}
                                <option>{{val['warehouse_id']}}</option>
                            {% endfor %}
                        </select>
                    <input type="button" id="newRow" value="Update Order" class="btn btn-primary mb-2"/>
            </div>
            <form id="updateOrder">
        </form>
        
        <!-- bootstrap javascript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </div>
</body>
</html>
